:root {
    --navy: #453C67;
    --sea: #6D67E4;
    --sky: #46C2CB;
    --sand: #F2F7A1;
    font-family: Belleza, sans-serif;
    color: black;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: "Belleza", sans-serif;
    font-weight: lighter;
    color:aliceblue;
    background-color: black;
    text-align: center;
  }
  
  #main {
    width: 100vw;
    padding: 0 15px;
    max-width: 100%;
    margin: 0 auto;
  }
  
  #title {
    font-size: 4em;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  
  #img-div {
    text-align: center;
  }
  
  #image {
    max-width: 100%;
    height: auto;
  }
  #image:hover {
    filter: contrast(2);
  }
  
  #tribute-info {
    margin-top: 20px;
    font-size: large;
    position: relative; /* Add relative positioning */
    left: 50%; /* Move element 50% to the left */
    transform: translateX(-50%); /* Center element horizontally */
}
  
  #tribute-link {
    display: block;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    text-decoration: none;
    color: palevioletred;
    font-size: 1.5em;
  }
  
  #tribute-link:hover {
    font-size: 2em;
    transition-delay: 2ms;
  }

  #tribute-link::after {
    opacity: 90%;
  }
  
  @media screen and (min-width: 1025px) {
    body {
      font-size: 18px;
    }
    #tribute-info {
        font-size: 20px;
        max-width: 65%;
        left: 50%; /* Move element 50% to the left */
        transform: translateX(-50%);
      }
      .player {
        position: relative;
        max-width: 65%;
        left: 50%; /* Move element 50% to the left */
        transform: translateX(-50%)
      }
  }
  @media screen and (max-width: 768px) {
    #tribute-info {
      font-size: 16px;
    }

  }
.player {
  margin-bottom: 1.4em;;
}
.return {
  margin-bottom: 1.3em;
}
.return-link {
  text-decoration: none;
  color:#46C2CB;
}
.return-link:hover {
  text-decoration: underline;
}